@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>It's @Model.Time right now on the server!</h2>

<div class="jumbotron">
    <p>This is a jumbotron section</p>
</div>
<div class="row">
    <div class="col-4">
        <div class="card-header">Card Header 1</div>
        <div class="card-body"> This is just testing the column size feature of the Boostrap</div>
    </div>
    <div class="col-4">
        <div class="card-header">Card Header 2</div>
        <div class="card-body">This is just testing the column size feature of the Boostrap</div>
    </div>
    <div class="col-4">
        <div class="card-header">Card Header 3</div>
        <div class="card-body">This is just testing the column size feature of the Boostrap</div>
    </div>
</div>


