@page
@model WebAppTest.testpageModel
@{
    ViewData["Title"] = "Test page";
}
<h1>@ViewData["Title"]</h1>

<p>This is just a test page to see if it works.</p>
<p><br>Just trying to add some content here.</p>
